---
import { getCollection } from "astro:content";
import { render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

const work_experience = await getCollection("work_experience");
---

<BaseLayout title="Resume">
  <h1 class="display-1 text-center">Resume</h1>
  <main class="row justify-content-center">
    <section class="col-12 co-md-10">
      <h2 class="display-2">Work Experience</h2>
      <div class="row">
        {
          work_experience.map((item) => (
            <div class="col-12 fs-5">
              <div class="row">
                <div class="col">
                  <h3 class="fs-4 text-start">{item.data.title}</h3>
                  <h5 class="text-start">{`${item.data.employer}, ${item.data.location}`}</h5>
                </div>
                <div class="col">{`${item.data.start_date} - ${item.data.end_date}`}</div>
                <div class="col-12">{render(item)}</div>
              </div>
            </div>
          ))
        }
      </div>
      <hr />
      <h2 class="display-2">Education</h2>
      <hr />
    </section>
    <aside class="d-sm-none d-md-block col-4">Test</aside>
  </main>
</BaseLayout>
<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
</style>
