---
import { render } from "astro:content";
import BaseLayout from "./BaseLayout.astro";
import Nav from "../components/base/nav.astro";

const { post, title } = Astro.props;
const { Content } = await render(post);
---

<style>
  @import "../styles/blog.css";
</style>
<BaseLayout title={title} cover={post.data.cover.src}>
  <!-- Navigation-->
  <Nav />
  <!-- Page Header-->
  <header
    class="masthead"
    style=`background-image: url(${post.data.cover.src})`
  >
    <div class="container position-relative px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <div class="post-heading">
            <h1 class="display-1">
              {title}
            </h1>
            <h2 class="display-2">
              {post.data.subheading}
            </h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content-->
  <article class="mb-4">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
          <Content />
        </div>
      </div>
    </div>
  </article>
</BaseLayout>
<script src="../js/blog.js"></script>
